{% extends 'officer/base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: #ededed;
        font-family: "Open Sans", sans-serif;
    }
    
    h1 {
        padding: 20px;
        text-align: center;
        font-size: 1.5em;
    }
    
    nav {
        width: 80%; 
        max-width: 300px; 
        margin: 40px auto;
    }
    
    span {
        padding: 20px;
        background: #2d2f31;
        color: white;
        font-size: 1.2em;
        font-variant: small-caps;
        cursor: pointer;
        display: block;
    }
    
    span::after {
        float: right;
        right: 10%;
        content: "Logout";
    }
    
    
    #touch {
        position: absolute;
        opacity: 0;
        height: 0px;
    }
    
    #touch:checked + .slide {
        height: max-content; 
    }
    .slide {
        overflow: hidden;
        transition: height 0.4s ease;
        margin-top: 0;
        padding: 0;
        list-style: none;
    }
    
    .slide li {
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc; 
    }
    
    .slide li:last-child {
        border-bottom: none; 
    }
    
    .slide a {
        color: #333;
        text-decoration: none;
        font-size: 1.2em;
        transition: color 0.3s ease;
    }
    
    .slide a:hover {
        color: #2d2f31; 
    }
    
    @media screen and (max-width: 600px) {
        #touch {
            display: none;
        }
    
        span::after {
            content: "\f067"; 
            font-family: FontAwesome; 
        }
        .slide {
            display: none;
            padding: 10px 0; 
        }
    
        #touch:checked + .slide {
            display: block;
        }
    
        .slide li {
            border-bottom: 1px solid #ccc;
        }
    
        .slide a {
            font-size: 1.2em;
        }
    }
      
</style>
<h1>Admin's Office </h1>

<nav>

  <label for="touch"><a href="{% url 'admin-logout' %}">
    <span>Select Data</span>
  </a></label>               

  <ul class="slide">
    <li><a href="{% url 'executive-banner' %}">Executive Banner</a></li>
    <li><a href="{% url 'executive' %}">Executive Officers</a></li> 
    <li><a href="{% url 'multimedia' %}">Multimedia Team</a></li>
    <li><a href="{% url 'programming' %}">Programming Team</a></li>
    <li><a href="{% url 'writers' %}">Writer's Team</a></li>
    <li><a href="{% url 'documentation' %}">Documentation Team</a></li>
    <li><a href="{% url 'esports' %}">Esport's Team</a></li>
    <li><a href="{% url 'social-media' %}">Social Media Team</a></li>
    <li><a href="{% url 'marketing' %}">Marketing Team</a></li>
    <li><a href="{% url 'board-member' %}">Board Member</a></li>
    <li><a href="{% url 'adviser' %}">Adviser</a></li>
 
  </ul>

</nav> 
{% endblock content %}