* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #FB7033;
    --secondary-color: #1F1E1E;
    --white: #fff;
}

.container{
    max-width: 1184px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 16px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    height: auto;
}



/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    z-index: 4;
}

header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 18px 0; */
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 0;
    cursor: pointer;
}

.logo p{
    color: var(--white);
    font-weight: 500;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    display: block;
    padding: 16px;
    color: var(--white);
    font-size: 16px;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: var(--primary-color);
}

.navbar i{
    color: var(--primary-color);
    padding: 16px 0 16px 16px;
    font-size: 20px;
    cursor: pointer;
}

.sub-menu{
    position: absolute;
    top: 90px;
    right: 0;
    visibility: hidden;
    opacity: 0;
    scale: 0.4;
    overflow: hidden;
    /* transition: max-height 0.5s; */
}

.sub-menu.open-menu{
    visibility: visible;
    opacity: 1;
    scale: 1;
}

.sub-menu-info{
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 16px 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sub-menu-info li{
    padding: 16px 0;
}

.sub-menu-info li:hover{
    color: var(--primary-color);
}

.sub-menu-info li:last-child{
    border-top: 1px solid var(--white);
}





/* nav {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 55px;  
    background: #1F1E1E;
    font-size: 14px;
}

.event {
    position: absolute;
    right: 400px;
    top: 15px;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.resource  {
    position: absolute;
    right: 300px;
    top: 15px;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
 .membership {
    position: absolute;
    right: 190px;
    top: 15px;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.about-us {
    position: absolute;
    right: 80px;
    top: 15px;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#user {
 position: absolute;
 right: 25px;
 color: #FB7033;
 top: 15px;
 font-size: 20px;
}

.icpep_logo {
   position: absolute;
   left: 60px;
   height: 35px;
   top: 8px;
}

.nav-title {
     position: absolute;
     top: 15px;
     left: 100px;
     font-size: 13px;
     color: white;
     z-index: 11;
}

#user-function {
     position: absolute;
     right: 40px;
     height: 120px;
     width: 100px;
     top: 80px;
     background:  #1F1E1E;
     border-radius: 10px;
     display: none;
}

.close-user {
 position: absolute;
 right: 0px;
 color: #FB7033;
 top: 15px;
 font-size: 20px;
z-index: 11;
} */