* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


button {
    width: 500px;
    height: 70px;
    background-color: #FFA500;
    color: black;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: bolder;


}

#icepep {
    width: 500x;
    height: 200px;


}

#bulsu {
    width: 50%;
    height: 1150px;


}

#studentnum {
    width: 500px;
    height: 70px;
    text-align: center;
    font-size: 1rem;
    margin-left: 40px;
    margin-bottom: 15px;
    display: grid;
    border-radius: 5px;


}

#studentpass {
    width: 500px;
    height: 70px;
    text-align: center;
    font-size: 1rem;
    margin-left: 40px;
    margin-bottom: 20px;
    display: grid;
    border-radius: 5px;
    border-width: 2px;


    /* position: relative; */




}

#remember_me {
    height: 36px;
    width: 120px;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
    display: inline;
    /* position: relative; */

}

a {
    color: red;
    text-decoration: none;
}

#started {


    margin-left: 5rem;
    margin-top: 1rem;
    color: black;
    font-size: 1.3rem;
}

#forgot_password {

    height: 36px;
    width: 120px;
    margin-left: 10rem;
    margin-top: 10px;
    font-size: 20px;
    display: inline;
    color: black;



}

.form-content {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 4rem;
    width: 100px;
    display: block;
    margin-left: -25rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-family: 'Times New Roman', Times, serif;

}