* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 5px solid;
    height: 1000px;
    width: 1900px;
    background-color: white;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    min-height: 100vb;
    background-image: url(https://img.freepik.com/free-vector/abstract-orange-background-with-lines-halftone-effect_1017-32107.jpg);
}


button {
    width: 400px;
    height: 50px;
    background-color: #FFA500;
    color: black;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: bolder;


}

#icepep {
    width: 150x;
    height: 150px;
    margin-bottom: 50px;
    margin-top: -100px;
}

#bulsu {
    width: 50%;
    height: auto;


}

#studentnum {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    margin-left: 40px;
    margin-bottom: 15px;
    display: grid;
    border-radius: 5px;


}

#studentpass {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    margin-left: 40px;
    margin-bottom: 20px;
    display: grid;
    border-radius: 5px;
    border-width: 2px;


    /* position: relative; */




}

#remember_me {
    height: 36px;
    width: 120px;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 15px;
    display: inline;
    /* position: relative; */

}

a {
    color: red;
    text-decoration: none;
}

#started {


    margin-left: 5rem;
    margin-top: 1rem;
    color: black;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
}

#forgot_password {

    height: 36px;
    width: 120px;
    margin-left: 18rem;
    margin-top: 10px;
    font-size: 15px;
    color: black;




}

.form-content {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1 {
    font-size: 2rem;
    width: 100px;
    display: block;
    margin-left: -250px;
    margin-bottom: 2rem;



}


@media screen and (max-width: 768px) {
    #bulsu {
        width: 0;
        height: 0;

    }



    h1 {
        font-size: 1.5rem;
        width: 100px;
        display: block;
        margin-left: -100px;
        margin-bottom: 1rem;



    }

    #icepep {
        width: 200px;
        height: 80px;
        margin-top: -30 0px;

    }

    #studentnum {
        width: 250px;
        height: 40px;
        text-align: center;
        font-size: 10px;
        margin-left: 40px;
        margin-bottom: 15px;
        display: grid;
        border-radius: 5px;


    }

    #studentpass {
        width: 250px;
        height: 40px;
        text-align: center;
        font-size: 10px;
        margin-left: 40px;
        margin-bottom: 20px;
        display: grid;
        border-radius: 5px;
        border-width: 2px;


        /* position: relative; */




    }

    #remember_me {
        height: 36px;
        width: 120px;
        margin-left: 40px;
        margin-top: 20px;
        font-size: 10px;
        display: inline;
        /* position: relative; */

    }

    button {
        width: 250px;
        height: 40px;
        background-color: #FFA500;
        color: black;
        border-radius: 10px;
        border-style: solid;
        text-align: center;
        font-size: 15px;
        margin-left: 40px;
        margin-top: 20px;



    }

    #forgot_password {

        height: 36px;
        width: 120px;
        margin-left: 6rem;
        margin-top: 5px;
        font-size: 10px;
        color: black;
    }

    #started {
        margin-left: 2rem;
        margin-top: 1rem;
        color: black;
        font-size: .8rem;
    }

    .hero {

        border: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
        border: none;
        height: 500px;
        width: 800px;
        background-color: white;


    }

    body {
        justify-content: none;
        align-items: center;
        display: flex;
        margin: auto;
        min-height: 100vb;
        background-image: none;
    }
}