<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{% static 'css/admin/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/mask.jpg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
</head>
<body>
    <div class="app-container">
        <div class="sidebar">
            <div class="sidebar-header">
            <div class="app-icon">
                <!--ICON PAGE-->
                <a href="{% url 'home' %}"><img src="{% static 'img/homepage_images/icpep_logo2.png' %}" width="50" height="50"  alt="logo"/></a>
            </div>
            </div>
            <ul class="sidebar-list">
            {% url 'admin-user' as admin_user_url %}
            {% url 'admin-highlights' as admin_highlights_url %}
            {% url 'admin-dashboard' as admin_dashboard %}
            {% url 'admin-register' as admin_register %}
            {% url 'admin-about-us-context' as about_us_context %}
            {% url 'admin-create-payment' as admin_create_payment %}
            {% url 'admin-vision-mission-goal' as admin_vision_mission_goal %}
            <li class="sidebar-list-item {% if request.path == admin_dashboard %}active{% endif %}">
                <a href="{{admin_dashboard}}">
                <span><i class="fa fa-home" aria-hidden="true"></i> Home</span>
                </a>
            </li>
            <li class="sidebar-list-item {% if request.path == admin_user_url %}active{% endif %}">
                <a href="{{ admin_user_url }}">
                    <span><i class="fa fa-user" aria-hidden="true"></i> Users</span>
                </a>
            </li>
            <li class="sidebar-list-item {% if request.path == admin_highlights_url %}active{% endif %}">
                <a href="{{ admin_highlights_url }}">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> Highlights & Event</span>
                </a>
            </li>
            <li class="sidebar-list-item {% if request.path == admin_register %}active{% endif %}">
                <a href="{{ admin_register }}">
                    <span><i class="fa-solid fa-plus"></i> Register</span>
                </a>
            </li>
            <li class="sidebar-list-item {% if request.path == about_us_context %}active{% endif %}">
                <a href="{{ about_us_context }}">
                    <span><i class="fa-regular fa-address-card"></i> About Us Context</span>
                </a>
            </li>
            <li class="sidebar-list-item {% if request.path == admin_create_payment %}active{% endif %}">
                <a href="{{ admin_create_payment }}">
                    <span><i class="fa-solid fa-money-bill"></i> Create Payment</span>
                </a>
            </li>
            <li class="sidebar-list-item {% if request.path == admin_vision_mission_goal %}active{% endif %}">
                <a href="{{ admin_vision_mission_goal }}">
                    <span><i class="fa-solid fa-bullseye"></i> VisionMissionGoal</span>
                </a>
            </li>
            </ul>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
<script src="{% static 'js/admin/script.js' %}"></script>
<script src="{% static 'js/admin/modal.js' %}"></script>
<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    {% for message in messages %}
        alertify.set('notifier', 'position', 'top-right');
        {% if message.tags == 'error' %}
            alertify.error('{{ message }}');
        {% else %}
            alertify.success('{{ message }}');
        {% endif %}
    {% endfor %}
</script> 
</html>