:root{
    --primary-color: #FB7033;
    --secondary-color: #1F1E1E;
    --white: #fff;
}

.events{
    padding-bottom: 30px;
}

.events .section-title{
    text-align: center;
    padding-top: 62px;
    margin-bottom: 24px;
    font-size: 31px;
    color: var(--primary-color);
}

.event-list{
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding-bottom: 32px;
    /* align-self: stretch; */
    /* flex-wrap: wrap; */
}

.card{
    display: block;
    background-color: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.event-list .card:nth-child(1), .event-list .card:nth-child(2), .event-list .card:nth-child(3) {
    display: inline-block;
}

.card:where(:hover, :focus-within){
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-image{
    /* aspect-ratio: var(--width) / var(--height); */
    overflow: hidden;
    height: 30vh;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    /* border-bottom: 4px solid var(--primary-color); */
}

.card:where(:hover, :focus-within) img{
    scale: 1.05;
}

.card-content{
    /* padding: 14px 16px; */
    border-top: 4px solid var(--primary-color);
}

.card-content h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
    line-height: 32px;
    padding: 14px 16px 8px 16px;
    cursor: pointer;
}

.card-content h3 a{
    color: var(--secondary-color);
}

.card-content h3 a:where(:hover, :focus-within){
    color: var(--primary-color);
}

.card-content .card-details{
    padding: 8px 16px;
    margin-bottom: 14px;
}

.card-details p{
    color: var(--secondary-color);
}

.card-details p:last-child{
    margin-top: 18px;
}

.card-details p i{
    margin-right: 4px;
    color: var(--secondary-color);
}

.card-team{
    background-color: rgb(249, 249, 249);
    border-top: 1px solid rgb(243, 243, 243);
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 0 0 8px 8px;
}

.card-team i{
    margin-right: 4px;
}

#view-more{
    text-align: center;
}