* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #FB7033;
    --secondary-color: #1F1E1E;
    --white: #fff;
}

.container{
    max-width: 1184px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 16px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    height: auto;
}

.btn{
    display: inline-block;
    padding: 14px 44px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--white);
    transition: cubic-bezier(0, 0.7, 0.3, 1) 200ms;
}

.btn:where(:hover, :focus){
    background-color: #F45C19;
}


/*-----------------------------------*\
  #RESOUCES
\*-----------------------------------*/
.section-title{
    font-size: 31px;
    font-weight: bold;
    text-align: center;
    padding-top: 62px;
    margin-bottom: 24px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.wrapper{
    width: 100%;
}

.wrapper .navbar{
    position: relative;
    height: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: auto;
}

.wrapper .navbar label{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    cursor: pointer;
}

input[type="radio"]{
    display: none;
}

.wrapper .navbar .slider{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    z-index: 0;
    bottom: 0;
    left: 0;
    transition: cubic-bezier(0, 0.7, 0.3, 1) 200ms;
}

#documents:checked ~ .navbar label.documents,
#media:checked ~ .navbar label.media,
#programming:checked ~ .navbar label.programming,
#utilities:checked ~ .navbar label.utilities{
    color: var(--white);
}

#media:checked ~ .navbar .slider{
    left: 25%;
}
#programming:checked ~ .navbar .slider{
    left: 50%;
}
#utilities:checked ~ .navbar .slider{
    left: 75%;
}

section .content{
    display: none;
    margin: 32px 0 62px 0;
    position: relative;
}

#documents:checked ~ section .content-1,
#media:checked ~ section .content-2,
#programming:checked ~ section .content-3,
#utilities:checked ~ section .content-4{
    display: block;
}