<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    .header {
      background-color: #FB7033;
      padding: 20px;
      border-radius: 10px;
    }
    .content {
      margin-top: 20px;
    }
    .fish {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Waiting for your Registration to Approve.</h1>
    </div>
    <div class="content">
        <img src="https://i.ibb.co/hRb4xw8/icpep-logo2.png" alt="ICPEP Logo">
        <p>Reply to this email, if you send your payment to activate your account.</p>
        <a href="mailto:{{payment_email}}?subject=Payment%20BSCPE%20<year_level>&body=Student%20Number%0D%0APayment%20Screenshot">
          Click here to email
        </a>
        <p>Copyright © 2023 All rights reserved | Programming Team 2023-2024.</p>
    </div>
  </div>
</body>
</html>