{% extends 'base.html' %}

{% load static %}
{% block title %}About Us | ICPEP.SE BulSU-MC{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock  %}

{% block content %}

<!--############# DISREGARD THIS HTML CODE ######################-->
<header style="display: none;">
    <div class="container">
        <input type="checkbox" id="nav-check">
        <label for="nav-check" class="nav-toggler">
            <span></span>
        </label>

        <a href="homepage.html" class="logo">
            <img src="./homepage_images/icpep_logo2.png" width="60px" height="60px">
            <p>ICPEP.SE BULSU-MC</p>
        </a>

        <nav class="navbar">
            <ul>
                <li><a href="event.html">Events</a></li>
                <li><a href="resources_docu.html">Resources</a></li>
                <li><a href="#">Membership</a></li>
                <li><a href="#">About Us</a></li>
            </ul>

            <i class="fa-regular fa-user" id="user" onclick="toggleMenu()"></i>

            <div class="sub-menu" id="subMenu">
                <div class="sub-menu-info">
                    <li>Juan A. Dele Cruz</li>
                    <li>juan.delacruz@bulsu.edu.ph</li>
                    <li><i class="fa-solid fa-right-from-bracket"></i> Logout</li>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--######################################################-->


<main>
    {% if latest_banner.image %}
    <div id="intro" style="background-image: url('{{ latest_banner.image.url }}');">
        <!-- <div id="C">
            <h1 id="cluster">About Us</h1>
            <div id="background">
                The students of ICPEP.SE at BULSU-MC are dedicated to academic excellence, fostering a culture of
                continuous
                learning through workshops, seminars, and collaborative inquiry. Their scholarly pursuits transcend


            </div>

        </div> -->

    </div>
    {% endif %}
    <!-- brief info start here -->
    <section class="about">
        <div class="container row">

            <div class="about-content">
                <h3 class="section-title">{{about_us_context.title}}</h3>
                <p>{{about_us_context.description}}</p>

            </div>
            {% if about_us_context.image %}
            <figure class="banner">
                <img src="{{about_us_context.image.url}}" alt="about-us" width="650" height="350">
            </figure>
            {% endif %}
        </div>
    </section>

    <!-- VMG starts here -->
    <section class="vmg">
        <div class="container">
            <h1 class="section-title">Vision, Mission and Goal</h1>

            <div class="row">
                <div class="vmg-box">
                    <img src="{% static 'img/about_us/icon3.png' %}" alt="" id="logos">
                    <h3>ICPEP MISSION</h3>
                    <p>{{vision_mission_goal.vision}}</p>
                </div>
                <div class="vmg-box">
                    <img src="{% static 'img/about_us/icon2.png' %}" alt="" id="logos">
                    <h3>ICPEP Vision</h3>
                    <p>{{vision_mission_goal.mission}}</p>
                </div>
                <div class="vmg-box">
                    <img src="{% static 'img/about_us/icon1.png' %}" alt="" id="logos">
                    <h3>ICPEP GOAL</h3>
                    <p>{{vision_mission_goal.goal}}</p>
                </div>
            </div>
        </div>
    </section>


    <section class="officer">
        <div class="container">
            <div class="section-title">
                <div class="form-container">
                    <form method="GET" onchange="this.submit()">
                        <select name="selected_year" id="selected_year">
                            <option value="">Select a year</option>
                            {% for year in all_years %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <h1 class="section-title">{{selected_year}}</h1>
            {% if latest_adviser %}
  
            <h1 class="section-title">Meet the Advisers</h1>
            <!-- <p>Description here</p> -->

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
                    {% for adviser in latest_adviser %}
                    <div class="officer-box box swiper-slide">
                        {% if adviser.image %}
                        <div class="officer-banner">
                            <img src="{{adviser.image.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ adviser.name}}</h3>
                            <span>Adviser</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        
        </div>


    </section>
    <!-- OFFICER starts here -->
    <section class="officer">
        <div class="container">

            {% if latest_executives %}
            <h1 class="section-title">Meet the Executives</h1>
            <!-- <p>Description here</p> -->

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
                
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.president_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.president_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.president}}</h3>
                            <span>ICPEP.SE BULSU-MC PRESIDENT</span>
                        </div>
                    </div>
            
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.vp_internal_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.vp_internal_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.vp_internal}}</h3>
                            <span>ICPEP.SE BULSU-MC VP-INTERNAL</span>
                        </div>
                    </div>
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.vp_external_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.vp_external_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.vp_external}}</h3>
                            <span>ICPEP.SE BULSU-MC VP-EXTERNAL</span>
                        </div>
                    </div>
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.secretary_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.secretary_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.secretary}}</h3>
                            <span>SECRETARY</span>
                        </div>
                    </div>
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.assistant_secretary_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.assistant_secretary_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.assistant_secretary}}</h3>
                            <span>ICPEP.SE BULSU-MC ASSISTANT SECRETARY</span>
                        </div>
                    </div>
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.treasurer_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.treasurer_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.treasurer}}</h3>
                            <span>TREASURER</span>
                        </div>
                    </div>
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.assistant_treasurer_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.assistant_treasurer_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.assistant_treasurer}}</h3>
                            <span>ASSISTANT TREASURER</span>
                        </div>
                    </div>
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.auditor_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.auditor_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.auditor}}</h3>
                            <span>ICPEP.SE BULSU-MC AUDITOR</span>
                        </div>
                    </div>
                    <div class="officer-box box swiper-slide">
                        {% if latest_executives.pro_img %}
                        <div class="officer-banner">
                            <img src="{{latest_executives.pro_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{latest_executives.pro}}</h3>
                            <span>ICPEP.SE BULSU-MC P.R.O</span>
                        </div>
                    </div>
                {% endif %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>


    <section class="officer">
        <div class="container">
            {% if latest_multimedia %}
            <h1 class="section-title">Meet the Multimedia Team</h1>
            <!-- <p>Description here</p> -->

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
              
                    <div class="officer-box box swiper-slide">
                        {% if latest_multimedia.multimedia_head_img %}
                        <div class="officer-banner">
                            <img src="{{latest_multimedia.multimedia_head_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ latest_multimedia.multimedia_head}}</h3>
                            <span>MULTIMEDIA HEAD</span>
                        </div>
                    </div>
      
                    {% for assistant in assistants_multimedia %}
                    <div class="officer-box box swiper-slide">
                        {% if assistant.image %}
                        <div class="officer-banner">
                            <img src="{{ assistant.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ assistant.name }}</h3>
                            <span>Multimedia Assistant</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>

    <section class="officer">
        <div class="container">
            {% if latest_programming %}
            <h1 class="section-title">Meet The Programming Team </h1>
            <!-- <p>Description here</p> -->

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
              
                    <div class="officer-box box swiper-slide">
                        {% if latest_programming.programming_head_img %}
                        <div class="officer-banner">
                            <img src="{{latest_programming.programming_head_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ latest_programming.programming_head}}</h3>
                            <span>PROGRAMMING HEAD</span>
                        </div>
                    </div>
      
                    {% for assistant in assistants_prog %}
                    <div class="officer-box box swiper-slide">
                        {% if assistant.image %}
                        <div class="officer-banner">
                            <img src="{{ assistant.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ assistant.name }}</h3>
                            <span>Programming Assistant</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>

    <section class="officer">
        <div class="container">
            {% if latest_writers %}
            <h1 class="section-title">Meet The Writers Team </h1>
            <!-- <p>Description here</p> -->

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
              
                    <div class="officer-box box swiper-slide">
                        {% if latest_writers.writers_head_img %}
                        <div class="officer-banner">
                            <img src="{{latest_writers.writers_head_img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ latest_writers.writers_head}}</h3>
                            <span>WRITERS HEAD</span>
                        </div>
                    </div>
      
                    {% for assistant in assistants_writers %}
                    <div class="officer-box box swiper-slide">
                        {% if assistant.image %}
                        <div class="officer-banner">
                            <img src="{{ assistant.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ assistant.name }}</h3>
                            <span>Writers Assistant</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>

    <section class="officer">
        <div class="container">
            {% if latest_documentation %}
            <h1 class="section-title">Meet The Documentation Team </h1>
            <!-- <p>Description here</p> -->

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
        
                    <div class="officer-box box swiper-slide">
                        {% if latest_documentation.documentation_head_img %}
                        <div class="officer-banner">
                            <img src="{{latest_documentation.documentation_head_img.url}}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ latest_documentation.documentation_head }}</h3>
                            <span>DOCUMENTATION HEAD</span>
                        </div>
                    </div>
      
                    {% for assistant in assistants_docu %}
                    <div class="officer-box box swiper-slide">       
                        {% if assistant.image %}
                        <div class="officer-banner">
                            <img src="{{ assistant.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ assistant.name }}</h3>
                            <span>Documentation Assistant</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>
    <section class="officer">
        <div class="container">
            {% if latest_esports %}
            <h1 class="section-title">Meet The Esport's Team </h1>

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
                    <div class="officer-box box swiper-slide">
                        {% if latest_esports.esports_head_img %}
                        <div class="officer-banner">
                            <img src="{{latest_esports.esports_head_img.url}}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ latest_esports.esports_head }}</h3>
                            <span>ESPORTS HEAD</span>
                        </div>
                    </div>
      
                    {% for assistant in assistants_esports %}
                    <div class="officer-box box swiper-slide">       
                        {% if assistant.image %}
                        <div class="officer-banner">
                            <img src="{{ assistant.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ assistant.name }}</h3>
                            <span>Esports Assistant</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>
    <section class="officer">
        <div class="container">
            {% if latest_social_media %}
            <h1 class="section-title">Meet The Social Media Team </h1>

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
                    <div class="officer-box box swiper-slide">
                        {% if latest_social_media.social_media_head_img %}
                        <div class="officer-banner">
                            <img src="{{latest_social_media.social_media_head_img.url}}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ latest_social_media.social_media_head }}</h3>
                            <span>SOCIAL MEDIA HEAD</span>
                        </div>
                    </div>
      
                    {% for assistant in assistants_social_media %}
                    <div class="officer-box box swiper-slide">       
                        {% if assistant.image %}
                        <div class="officer-banner">
                            <img src="{{ assistant.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ assistant.name }}</h3>
                            <span>Social Media Assistant</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>

    <section class="officer">
        <div class="container">
            {% if latest_marketing %}
            <h1 class="section-title">Meet The Marketing Team </h1>

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
                    <div class="officer-box box swiper-slide">
                        {% if latest_marketing.marketing_team_img %}
                        <div class="officer-banner">
                            <img src="{{latest_marketing.marketing_team_img.url}}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ latest_marketing.marketing_team_head }}</h3>
                            <span>MARKETING HEAD</span>
                        </div>
                    </div>
      
                    {% for assistant in assistants_marketing %}
                    <div class="officer-box box swiper-slide">       
                        {% if assistant.image %}
                        <div class="officer-banner">
                            <img src="{{ assistant.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ assistant.name }}</h3>
                            <span>Marketing Assistant</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>
    <section class="officer">
        <div class="container">
            {% if latest_board_member %}
            <h1 class="section-title">Meet The Board Members </h1>

            <div class="swiper officer-slider">
                <div class="swiper-wrapper">
                    {% for board in latest_board_member %}
                    <div class="officer-box box swiper-slide">       
                        {% if board.image %}
                        <div class="officer-banner">
                            <img src="{{ board.image.url }}" alt="">
                        </div>
                        {% else %}
                        <div class="officer-banner">
                            <img src="{% static 'img/no_img_shown/NoImg.png' %}" alt="">
                        </div>
                        {% endif %}
                        <div class="officer-content">
                            <h3>{{ board.name }}</h3>
                            <span>{{board.position}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="swiper-pagination"></div>
            </div>
        </div>


    </section>
</main>


{% endblock content %}