{% extends 'base.html' %}

{% load static %}
{% block title %}Events | ICPEP.SE BulSU-MC{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">  
{% endblock  %}

{% block content %}
<section class="events-page">
    <div class="container">
        <h2 class="section-title">Upcoming and Ongoing Events</h2>
        {% for highlight in highlights %}
        <div class="events-card">
            <div class="event-left">
                <div class="date">{{ highlight.date_to|date:"d" }}</div>
                <div class="month">{{ highlight.date_to|date:"M" }}</div>
            </div>
            <div class="event-right">
                <h3 class="event-title">{{highlight.title}}</h3>
                <p class="event-desc">{{highlight.desc}}</p>
                <p class="event-location"><i class="fa-solid fa-location-dot"></i>{{ highlight.location }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock content %}
