{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/resources.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block title %}Resources | ICPEP.SE BulSU-MC{% endblock %}
{% block content %}

 <!-- <section class="hero-wrapper">
            <h1>Software Tools</h1>
        </section> -->

<section class="resources">
    <div class="container">
        <h2 class="section-title">Software Tools</h2>

        <div class="wrapper">
            <input type="radio" name="slider" id="documents" checked>
            <input type="radio" name="slider" id="media">
            <input type="radio" name="slider" id="programming">

            <nav class="secondary-navbar">
                <label for="documents" class="documents">Documents</label>
                <label for="media" class="media">Media</label>
                <label for="programming" class="programming">Programming</label>
                <div class="slider"></div>
            </nav>

            <div class="card-list">
                <div class="content content-1">
                    <div class="list">
                        <a href="https://www.microsoft.com/en-us/microsoft-365" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/img_1.webp">
                            </div>
                            <div class="card-content">
                                <h3>Microsoft 365</h3>
                                <p>Don't confuse with Visual Studio 2019 above. This is the best code editor for Python, HTML/CSS, and almost every programming language, given you'll do a couple of setups</p>
                            </div>
                        </a>
                        <a href="https://www.wps.com/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/img_2.webp">
                            </div>
                            <div class="card-content">
                                <h3>WPS Office</h3>
                                <p>Don't confuse with Visual Studio 2019 above.</p>
                            </div>
                        </a>
                        <a href="https://www.grammarly.com/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/img_3.jpeg">
                            </div>
                            <div class="card-content">
                                <h3>Grammarly</h3>
                                <p>Don't confuse with Visual Studio 2019 above. This is the best code editor for Python, HTML/CSS, and almost every programming language, given you'll do a couple of setups</p>
                            </div>
                        </a>
                        <a href="https://g.co/kgs/6FSHnk" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/documents_1.jpg">
                            </div>
                            <div class="card-content">
                                <h3>Google Docs</h3>
                                <p>Online Word, Excel and Powerpoint editor.</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="content content-2">
                    <div class="list">
                        <a href="http://draw.io/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/media_img_1.png">
                            </div>
                            <div class="card-content">
                                <h3>Draw.io</h3>
                                <p>Free online diagram software for making flowcharts, process diagrams, org charts, UML, ER and network diagrams.</p>
                            </div>
                        </a>
                        <a href="" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/media_img_2.jpg">
                            </div>
                            <div class="card-content">
                                <h3>AutoCad</h3>
                                <p>AutoCAD enables precise and efficient project development.</p>
                            </div>
                        </a>
                        <a href="https://www.figma.com/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/media_img_3.jpg">
                            </div>
                            <div class="card-content">
                                <h3>Figma</h3>
                                <p>Great designer and prototype maker for UI</p>
                            </div>
                        </a>
                        <a href="" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/media_img_4.webp">
                            </div>
                            <div class="card-content">
                                <h3>Photoshop CS6</h3>
                                <p>Add description</p>
                            </div>
                        </a>
                        <a href="https://obsproject.com/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/media_img_5.jpg">
                            </div>
                            <div class="card-content">
                                <h3>OBS Studio</h3>
                                <p>Free and open source software for video recording and live streaming.</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="content content-3">
                    <div class="list">
                        <a href="https://code.visualstudio.com/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_1.webp">
                            </div>
                            <div class="card-content">
                                <h3>Visual Studio Code</h3>
                                <p>The is the best code editor for Python, HTML/CSS, and almost every programming language.</p>
                            </div>
                        </a>
                        <a href="https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&channel=Release&version=VS2022&source=VSLandingPage&cid=2030&passive=false" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_2.webp">
                            </div>
                            <div class="card-content">
                                <h3>Visual Studio</h3>
                                <p>Home of Visual Basic, C# and other Desktop focused programming languages</p>
                            </div>
                        </a>
                        <a href="https://git-scm.com/download/win" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_3.webp">
                            </div>
                            <div class="card-content">
                                <h3>Git Bash</h3>
                                <p>a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
                            </div>
                        </a>
                        <a href="https://desktop.github.com/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_4.webp">
                            </div>
                            <div class="card-content">
                                <h3>Github Desktop</h3>
                                <p>Your Github desktop companion</p>
                            </div>
                        </a>
                        <a href="https://developerinsider.co/downloading/?download=https://github.com/vineetchoudhary/turbocpp/releases/download/v3.2/Turbo.C.3.2.zip?raw=true&after=https://developerinsider.co/c-and-cpp-insider/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/img_1.webp">
                            </div>
                            <div class="card-content">
                                <h3>Turbo C++</h3>
                                <p>The oldie IDE</p>
                            </div>
                        </a>
                        <a href="https://sourceforge.net/projects/orwelldevcpp/files/latest/download" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_6.webp">
                            </div>
                            <div class="card-content">
                                <h3>Dev C++</h3>
                                <p>C/C++ IDE that comes with a Compiler</p>
                            </div>
                        </a>
                        <a href="https://www.python.org/ftp/python/3.9.7/python-3.9.7-amd64.exe" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_7.webp">
                            </div>
                            <div class="card-content">
                                <h3>Python Interpreter</h3>
                                <p>A python interpreter you need to download</p>
                            </div>
                        </a>
                        <a href="https://netbeans.apache.org/download/nb19/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_8.webp">
                            </div>
                            <div class="card-content">
                                <h3>Netbeans</h3>
                                <p>insert description</p>
                            </div>
                        </a>
                        <a href="https://www.eclipse.org/downloads/download.php?file=/oomph/epp/2021-06/R/eclipse-inst-jre-win64.exe" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_9.webp">
                            </div>
                            <div class="card-content">
                                <h3>Eclipse</h3>
                                <p>Best editor for java</p>
                            </div>
                        </a>
                        <a href="https://easyeda.com/editor" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_10.webp">
                            </div>
                            <div class="card-content">
                                <h3>EasyEDA</h3>
                                <p>A free and easy to use circuit design, circuit simulator and pcb design that runs in your web browser.</p>
                            </div>
                        </a>
                        <a href="https://www.tinkercad.com/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_11.webp">
                            </div>
                            <div class="card-content">
                                <h3>TinkerCAD</h3>
                                <p>An online circuit maker with huge library of real components plus PBC designer</p>
                            </div>
                        </a>
                        <a href="https://www.falstad.com/circuit/circuitjs.html" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_12.webp">
                            </div>
                            <div class="card-content">
                                <h3>CircuitJS</h3>
                                <p>An online circuit maker with huge library of real components plus PBC designer</p>
                            </div>
                        </a>
                        <a href="https://www.arduino.cc/en/donate/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_13.jpg">
                            </div>
                            <div class="card-content">
                                <h3>Arduino IDE</h3>
                                <p>Code Editor and Compiler for Arduino</p>
                            </div>
                        </a>
                        <a href="https://raw.githubusercontent.com/Logisim-Ita/Logisim/master/Compiled/Logisim-ITA.exe#" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_14.png">
                            </div>
                            <div class="card-content">
                                <h3>Logism ITA</h3>
                                <p>Educational tool for designing and simulating digital logic circuits.</p>
                            </div>
                        </a>
                        <a href="https://www.edaplayground.com/" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_15.jpg">
                            </div>
                            <div class="card-content">
                                <h3>EDA Playground</h3>
                                <p>Online Verilog IDE and Compiler</p>
                            </div>
                        </a>
                        <a href="https://developer.android.com/studio" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_16.jpg">
                            </div>
                            <div class="card-content">
                                <h3>Android Studio</h3>
                                <p>Integrated Development Environment (IDE) for Android app development.</p>
                            </div>
                        </a>
                        <a href="https://flutter.dev/docs/get-started/install" target="_blank" class="card">
                            <div class="img-holder">
                                <img src="../static/img/resources_page/programming_img_17.jpg">
                            </div>
                            <div class="card-content">
                                <h3>Flutter</h3>
                                <p>An Extension to Android Studio that let's you code beautiful Android Apps</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="g-drive">
            <div>
                <img src="{% static 'img/resources_page/google-drive-logo-7.png' %}" alt="" width="50" />
            </div>
            <div>
                <h3>Google Drive Link: <a href="https://drive.google.com/drive/mobile/folders/1ndobF4GE7hcZKzRfbtFrjxkNYrH9OjRX?fbclid=IwAR2zwrQM9aaClbN7yQOM0IDKhIbHMDmeJBugOVcZgCksx6v-DIBnpuDxqwc" target="_blank" style="color: #FB7033;">ICPEP Learning & Programming Materials</a> </h3>
            </div>

        </div>
        {% else %}
        <div class="g-drive">
            <div>
                <img src="{% static 'img/resources_page/google-drive-logo-7.png' %}" alt="" width="50" />
            </div>
            <div>
                <h3>Google Drive Link: <a href="{% url 'register-user' %}" target="_blank" style="color: #FB7033;">Register First!</a> </h3>
            </div>

        </div>
        {% endif %}
    </div>


</section>

{% endblock content %}